.preparo {
   
    background-color: aliceblue;
    padding: 30px;
    font-size: 22PX;
    font-style: italic;
}

.preparo:hover {
    opacity: 0.7;
}

.receita {
    padding: 30px;
    background-color: aliceblue;

}


.receita text{
    font-size: 22px;
    color: #1e7381;
    font-style: italic;
}

text {
    color: #1e7381;
    padding: 5px;
}

h3,
h4 {
    color: #1e7381;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    accent-color: #1e7381;

}
.imagem_receita{
    float: right;
    display: flex;
    width: 400px;
    height: 250px;
    padding: 50px;
}
.imagem_receita img{
    border-radius: 30px
}