.listareceitas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 80px;
}
.receitabox{
    color: black;
    width: auto;
    text-align: justify;
    background-color: aliceblue;
    border-radius: 5%;
    padding: 30px;

}
.receitabox h3{
    font-style: italic;
    font-size: 18px;
}

.lista-imagem{
    border-radius: 30px;

}